* * * * * sudo iptables -L FORWARD -n --line-numbers | tac | perl -ne 'next unless /(^\d+).*expire=(\d+)/; if ($2 < time) { system "sudo iptables -D FORWARD $1;" }'
* * * * * python3 /home/ubuntu/powwall/check_log.py
